.comment {
  display:flex;
  flex-direction: row-reverse;
  border: solid 2px darkgrey;
  background-color: beige;
  margin-bottom: 1em;
  border-radius: 10px;
}

.metadata {
  border-right: solid 2px darkgrey;
  min-width: 25%;
}

.meta {
  margin-bottom: 0.00em;
}