.homecontainer {
  display: grid;
  grid-template-rows: auto;
  
}

.welcome {
  grid-row-start: 1/2;
}

.feeds {
  display: grid;
  grid-template-columns: 50% auto;
  grid-row-start: 2;
  background-color: aquas;

}

.newestfeed {
  grid-column-start: 1;
 

}

.mostpopular {
  grid-column-start: 2;
border-left: 2px dotted darkgray

}

.whats {
  text-align: center;
  font-family: Monoton;
  color: #063852;
}

h3 {
  color: black
}