.topiccard {
  background-color: whitesmoke;
  font-family: 'PT Serif',serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px darkgrey;
  width: 75%;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myButton.addTopic{

  margin-top: 0px;
  margin-bottom: 0px;

}

@media screen and (max-width: 600px) {
  .myButton.addTopic{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
  margin-right:1em;
  width:60%;
  padding:1em;
  display: block;
  margin: 0 auto;

}
}