.usercard {
  font-family: 'PT Serif',
  serif;
      display:flex;
      flex-direction: column;
      justify-content: center;
      border: solid 2px darkgrey;
      width: 75%;
      text-align: center;
      margin: 1em auto;
      padding: 1em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
       0 6px 20px 0 rgba(0, 0, 0, 0.19);
       background-color: whitesmoke;
}     

.img {
  margin: auto;
  height: 100px;
  max-width: 100px;
  min-width: 100px
}